
/cpp/.vs
/cpp/out
/python/Convention/__pycache__
/python/Convention/include/__pycache__
/python/Convention/Convention/__pycache__
/cpp/.vscode
*.pyc
/python/Convention/Visual/ManimKit/__pycache__
/python/Convention/Str/__pycache__
/python/Convention/Visual/__pycache__
/python/Convention/Lang/__pycache__
/python/Convention/Audio/__pycache__
/python/Convention/DataBase/__pycache__
/python/Convention/File/__pycache__
/python/Convention/Internal/__pycache__
/python/Convention/LLM/__pycache__
/python/Convention/MathEx/__pycache__
/python/Convention/ML/__pycache__
/python/Convention/LLM/LangChain/__pycache__
/python/Convention/ML/KerasInternal/__pycache__
/python/Convention/UI/__pycache__
/python/Convention/Web/__pycache__
/python/dist
